.form-input {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-top: 10px;
}

.form-text-input {
    height: 50px;
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    padding: 15px;
    font-size: 1em;
}

.form-input-label {
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.7em;
    color: #7d7b7b;
    font-weight: bold;
}

.form-input-valid-feedback {
    margin-top: 5px;
    padding: 0px;
    font-size: 1em;
    color: #0d7e2f;
}

.form-input-invalid-feedback {
    margin-top: 5px;
    padding: 0px;
    font-size: 1em;
    color: #9c1d1d;
}
