.form-submit {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-image: linear-gradient(to bottom, #ffffff 0%, #cccccc 40%);
    color: #000000;
    font-weight: bold;
}

.form-submit:hover {
    background-image: linear-gradient(to top, #ffffff 0%, #cccccc 40%);
    color: #000000;
}
