.form-input {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-top: 10px;
}

.form-text-input {
    width: 250px;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    margin: 0px;
    padding: 15px;
    font-size: 1em;
}

.form-input-label {
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.7em;
    color: #7d7b7b;
    font-weight: bold;
}
